@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.box {
    border: 3px solid black;
    box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 1);
    padding: 30px;
}