html {
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
}

body {
    margin: 0;
    font-family: 'Fira Mono', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}