@font-face {
    font-family: 'Fira Mono';
    font-weight: 400;
    font-style: normal;
    src: url('./FiraMono-Regular.ttf');
}

@font-face {
    font-family: 'Fira Mono';
    font-weight: 500;
    font-style: normal;
    src: url('./FiraMono-Medium.ttf');
}


@font-face {
    font-family: 'Fira Mono';
    font-weight: 700;
    font-style: normal;
    src: url('./FiraMono-Bold.ttf');
}

